--markup markdown
--markup-provider kramdown
--readme README.md
--files CHANGELOG.md,CONTRIBUTING.md,LICENSE
--exclude spec/
--exclude examples/
--exclude vendor/
--exclude tmp/
--main README.md
--title "Ruby AI Agents Factory Documentation"
--protected
--private
--verbose
